:root {
    /*colors*/

    --color-primary:#0E2844;
    --color-secondary:#FF6525;
    --color-white:#fafafa;

    /*typography*/

font-size: 10px;
--sd-font-size: 2rem;
--medium-font-size: 2.5rem;
--big-font-size: 3rem;

}

    /* CSS resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* CSS global */
body {
    width: 100%;
    max-width: 1250px;

    margin: 0 auto;
    padding: 5rem 0;

    font-family: 'Quicksand', sans-serif;
    background: var(--color-primary);
    color: var(--color-primary);
}

input {
    outline: none;
}

label {
    display: block;
}

    /* container */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* checkout_container */
.checkout_container {
    width: 60%;
    padding: 5rem;

    background-color: var(--color-white);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* congratulations_and_plan_type */
.congratulations_and_plan_type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.congratulations_and_plan_type h1 {
    font-size: var(--big-font-size);
    font-weight: 700;
    text-align:center;
}

    /* plan_type */
.plan_type {
    margin: 2.5rem 0;
    background-color: var(--color-secondary);

    border-radius: 1rem;
}

.plan_type p {
    font-size: var(--medium-font-size);
    font-weight:600;
    color: var(--color-white);
    align-items: center;

    padding: 1.5rem 2rem;
}

    /* form_container */
.form_container {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 70%;
}

.form_container h2 {
    font-size: var(--sd-font-size);
    font-weight: 700;
    text-align: center;
}

    /* input_group */
.input_group {
    padding-top: 1.5rem;

}

.input_group label {
    font-size: var(--sd-font-size);
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 1.25rem;
}

.input_group input {
    width: 100%;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    border: solid .3rem var(--color-secondary);
}

    /* card_especial_info */
.card_especial_info {
    display: flex;
    align-items: center;
}

.card_especial_info .input_group {
    margin-right: .8rem;
}

.card_especial_info .input_group input {
    width:  90%;
}

.card_especial_info .input_group input[name='expirationDate']::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-primary);
}

    /* btn_container */
.btn_container {
    display: flex;
    justify-content:center;

    padding: 4rem 0;
}

.btn_container button {
    width: 60%;
    padding: 2rem 1.25rem;
    background-color: var(--color-primary);

    border: none;
    border-radius: 1rem;

    font-family: 'Quicksand', sans-serif;
    font-size: var(--medium-font-size);
    font-weight: 700;
    color: var(--color-white);

    cursor: pointer;
    
}

.btn_container button:hover {
    opacity: 0.9;
    transition: .5s ease;
}
    /* responsividade */

@media screen and (max-width: 1024px) {
    .card_especial_info {
        display: block;
    }

    .card_especial_info .input_group {
        margin-right: 0;
    }

    .card_especial_info .input_group input {
        width: 100%;
    }   
}

@media screen and (max-width: 768px) {
    :root {
        --sd-font-size: 1.8rem;
        --medium-font-size: 2rem;
    }

    .checkout_container {
        width: 90%;
    }

    .form_container {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .btn_container button {
        width: 80%;

    }
}