:root {
    /*colors*/

    --color-primary:#0E2844;
    --color-secondary:#FF6525;
    --color-white:#fafafa;
    --color-soft:#fff9f4;

    /*typography*/

font-size: 10px;
--sd-font-size: 2rem;
--medium-font-size: 2.5rem;
--big-font-size: 3.5rem;
--h1-font-size: 7.5rem;
--li-font-size: 1.8rem;
--card-sd-font-size: 1.8rem;
--card-big-font-size: 3rem;


    /*padding*/

--sd-padding-size: 6rem;
--ft-padding-size: 10rem;

}

    /*CSS resset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /*CSS global*/
body {
    width: 100%;
    max-width: 1250px;
    height: 100vh;
    margin: 0 auto;
    padding: 3rem 5%;

    font-family: 'Quicksand', sans-serif;
    background-color: var(--color-white);

}

    /*link*/
 a {
     text-decoration: none;
     display: inline-block;
 }

    /*unordered list*/
ul {
    list-style-type: none;
}

    /*titles*/
h1, h2, h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
}

    /*buttons*/
button {
    display:flex;
    justify-content: center;
    align-items: center;

    font-family: 'Quicksand', sans-serif;
    font-size: var(--sd-font-size);
    font-weight: 700;

    border: none;
    border-radius: 1rem;
    cursor:pointer;

}

    /*container*/
#container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

    /*header*/
.header {
    grid-area: header;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

    /*brand_menu_container*/
.brand_menu_container {
    display: flex;
    align-items: center;

}

    /*logo*/
.logo {
    max-width: 280px;

}

.logo img {
    width: 100%;

}

    /*menu_toggle_container*/
.menu_toggle_container {
    font-size: 3rem;
    color: var(--color-secondary);

    cursor:pointer;
    display: none;

}

    /* menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    font-size: var(--sd-font-size);
    font-weight: 700;
    color: var(--color-primary);

    padding: 1rem;
    margin-right: 1.5rem;
}

.menu li a:hover {
    color: var(--color-secondary);
    transition: .5s ease;
}

    /*btn*/
#btn {
    width: 100%;
    padding: 1rem 2.5rem;
    background: var(--color-secondary);

    display: flex;
    justify-content: center;
    
    color: var(--color-white);

    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#btn:hover {
    opacity: 0.8;
    transition: .5s ease;

}

    /*main*/

.main {
    display: grid;
    grid-template-areas: 
    "greetings greetings"
    "best_destinations best_destinations"
    "reasons_to_travel reasons_to_travel"
    "prices prices";
}

    /*greetings*/
.greetings {
    grid-area: greetings;
    display:grid;
    grid-template-columns: repeat(2, minmax(50%,auto));
    justify-content: center;
    align-items: center;

    padding-bottom: var(--sd-padding-size);   
}

    /*content_invite*/
.content_invite {
    white-space: pre-line; /* para respeitar a quebra de linha setada no html*/

}
.content_invite h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;

    line-height:1.25;
}

.content_invite p {
    font-size: var(--sd-font-size);
    font-weight: 600;
    color: var(--color-primary);
    text-align: justify;

    padding-top: 2rem;
}

.content_invite span {
    color: var(--color-secondary);

}

    /*figure_travelling*/
.figure_travelling {
    display:flex;
    justify-content: flex-end;
}
.figure_travelling img {
    width: 90%;
    

}

    /* best_destinations */
.best_destinations {
    grid-area: best_destinations;
    padding-bottom: var(--sd-padding-size);
}

    /* trip-container */
.trip_container {
    display:flex;
    justify-content: space-around;
    align-items:center;

    padding-top: var(--sd-padding-size);
}

    /* trip_card */
.trip_card {
width: 30%;
height: 500px;

background-position: center center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content:flex-end;
}    
    /* card_one */
#card_one {
    background-image: url("/assets/brooklyn.jpg");
}

    /* card_two */
#card_two {
    background-image: url("/assets/praia.jpg");

}

    /* card_three */
#card_three {
    background-image: url("/assets/montanhas.jpg");
}

    /* trip_name */
.trip_name {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-secondary);
    padding: 2rem;

    max-height: 86px;
    height:100%;
}

.trip_name p {
    font-size: var(--sd-font-size);
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
}

    /* reasons_to_travel */
.reasons_to_travel {
    grid-area: reasons_to_travel;
    padding-bottom: var(--sd-padding-size);

}

    /* reasons_container */
.reasons_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    justify-content: space-between;
    align-items: center;
    padding-top: var(--sd-padding-size);

}

    /* header_item */
.header_item {
    display: flex;
    align-items: center;

}

    /* header_item span */
.header_item span {
    font-size: var(--big-font-size);
    font-weight:700;
    color: var(--color-primary);

    padding-right: 1rem;
    width: 100%;
    max-width: 56px;

}

    /* reasons_item */
.reasons_item p {
font-size: var(--sd-font-size);
font-weight: 400;
color: var(--color-primary);
text-align: justify;

padding: 2rem 0;
padding-left: 5rem;
width: 75%;

}

    /* travelers */
.travelers {
    display: flex;
    justify-content: flex-end;
}

.travelers img {
    width: 90%;
}

    /* prices */
.prices {
    grid-area: prices;
    padding-bottom: var(--ft-padding-size);
    
}

    /* header_prices */
.header_prices h2 {
    font-size: var(--big-font-size);

    color: var(--color-secondary);
    text-align: center;
}

.header_prices p {
    font-size: var(--big-font-size);
    font-weight: 700;

    color: var(--color-primary);
    text-align: center;

    padding: 4rem 0;
}

    /* prices_card_container */
.prices_card_container {
    display: flex;
    justify-content:space-around;
    align-items: center;

    background: var(--color-soft);
    border: solid .3rem var(--color-secondary);
    border-radius: 1rem;
    padding: 4rem 2rem;
}

    /* card */
.card {
    width: 100%;
    max-width: 380px;

    height: 530px;

    padding: 5rem 2.5rem;
    margin-right: 2rem;
    background: var(--color-primary);
    border: none;
    border-radius:1rem;

    display: flex;
    flex-direction: column;
    justify-content:center;

    word-wrap: break-word;

}

    /* div  card e o id premium */
#premium {
    margin-right: 0;
}

    /* card_body */
.card_body {
    height: 100%;
    font-weight: 700;
    color: var(--color-white);

}

.card_body .price {
    font-size: var(--card-big-font-size);
    
}

 .card_body .price span {
    font-size: var(--card-sd-font-size);

}

 .card_body .plan_type {
    font-size: var(--card-big-font-size);
    color: var(--color-secondary);
    padding-top: 2rem;
}

.card_body .plan_text {
    font-size: var(--card-sd-font-size);
    text-align: left;

    padding-top: 1rem;
    
}

.plan_list {
    max-height: 200px;
    height: 100%;
    padding-top: 2rem;
}

.plan_list li {
    display: flex;
    align-items: center;

    font-size: var(--li-font-size);
}

.plan_list i {
    font-size: 2rem;
    padding: 1rem 1.2rem 1rem 0;
}

    /* plan_btn_container */
.plan_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.plan_btn_container button {
    width: 70%;
    padding: 1.5rem 2rem;
    background: var(--color-white);
    border: solid 3px var(--color-secondary);

    color: var(--color-secondary);

}

    /* footer */
.footer {
    grid-area: footer;
    padding-bottom: 5rem;

}

    /* footer_menu_container */
.footer_menu_container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, auto));

}

    /* footer_menu_item */
.footer_menu_item span {
    display: inline-block;
    font-size: var(--medium-font-size);
    font-weight: 700;
    color: var(--color-secondary);

    padding-bottom: 1.8rem;
}

    /* footer_menu */
.footer_menu li {
    font-size:var(--li-font-size);
    font-weight: 700;
    color: var(--color-primary);

    padding: .8rem 0;
    cursor: pointer;
}

    /* menu_social_media */
.menu_social_media {
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu_social_media li {
    min-width: 50px;
    min-height: 50px;

    border-radius: 50%;
    margin-right: 2rem;

    background: var(--color-secondary);

    font-size: 2.5rem;
    color: var(--color-white);
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}

.menu_social_media li:last-child {
    margin-right: 0;
}

    /* brand_container */
.brand_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 4rem;
}

.brand_container img {
    width: 80%;

}

@media screen and (max-width: 1100px) {
    :root {
        --sd-font-size: 1.8rem;
        --h1-font-size: 6rem;
    }

    .prices_card_container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 4rem;

        justify-items: center;
    }

    .card {
        margin:0;

    }
    
}

@media screen and (max-width: 955px) {
    .menu_toggle_container {
        display: block;
        position: absolute;
        right: 20px;
        z-index: 999;
    }

    .menu{
        position: fixed;
        top: 0;
        right: -100%;

        width: 100%;
        max-width: 250px;

        height: 100vh;
        padding: 100px 20px;
        z-index: 800;

        background-color: var(--color-primary);
        flex-direction: column;

        transition: .5s ease;

    }

    .menu li a {
        color: var(--color-white);
        margin-right: 0;
        margin-bottom: 1.5rem;

    }

    .menu_toggle_container.active {
        position: fixed;

    }

    .menu.active {
        right: 0;

    }
}

    @media screen and (max-width: 768px) {
        :root {
            --big-font-size: 3rem;
            

            --sd-padding-size: 5rem;
            --ft-padding-size: 8rem;
        }

        .logo {
            max-width: 177px;
        }

        .greetings {
            display: block;

            padding: 4rem 0 5rem;
        }

        .content_invite {
            white-space: normal;
            text-align: left;
        }

        .content_invite p {
            max-width: 80%;
            padding-top: 4rem;
        }

        .figure_travelling, .travelers {
            justify-content: center;

        }

        .trip_container {
            flex-direction: column;
        }

        .trip_card {
            width: 70%;
            margin-bottom: 3rem;
        }

        .trip_card#card_three {
            margin-bottom: 0;
        }

        .reasons_container {
            display: block;
        }

        .reasons_item p {
            width: 100%;
            padding-left: 0;
        }

        .footer_menu_container {
            grid-template-columns: 1fr;
            row-gap: 4rem; 
        }

        .brand_container {
            padding-top: 3rem;
        }

        .brand_container img {
            width: 60%;
        }
    }

    @media screen and (max-width: 500px) {
        :root {
            --sd-font-size: 1.5rem;
            --li-font-size: 1.25rem;   
        }

        .content_invite p {
            max-width: 100%;
            padding-top: 2rem;
        }

        .trip_card {
            width: 100%;
        }

        .card {
            padding: 3rem 2rem;
        }

        .plan_btn_container {
            padding: 2rem;
        }

        .plan_btn_container button {
            width: 100%;
        }
    }